*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
form{
    width: 700px;
    height: auto;
    margin: 0 auto;
}
fieldset{
    background-color: rgb(94, 180, 186);
    border: 3px solid black;
    margin: 50px;
    padding: 20px;
   
} 

legend{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 5px 5px 2px gray;
}
input{
    background-color: lightgray;
    height: 20px;
    padding-left: 5px;
    border: 2px solid black ;
    border-radius: 10px;
    
}
input:focus{
    background-color: darkgray;
    border: 3px solid deeppink;
    height: 25px;
    width: auto;
}
button{
    background-color: lightgray;
    padding: 2px;
    border: 3px solid ;
    width: 105px;
    height: 30px;
    overflow: hidden;
    border-radius: 15px;

}

input[type=file]{
    border: none;
    outline: none;
    
}
textarea{
    border: 2px solid black;
    background-color: rgb(207, 206, 206);
}
select{
    background-color: lightgray;
    border: 2px solid ;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    text-decoration: underline wavy rgb(56, 119, 124);
    text-shadow: 3px 3px 5px rgb(29, 125, 132);
}
hr{
    height: 3px;
    background-color: black;
}
footer li{
    font-size: 20px;
    margin: 5px;
    text-align: center;
}
footer li a{
    text-decoration: none;
     color: black;
}
footer li a:hover{
    color: deeppink;
    text-decoration: underline wavy rgb(29, 125, 132);
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}
a button{
    display: inline-block;
    cursor: pointer;
    color: black;

}
a button:hover{
    background-color: black;
    color: deeppink;
    border: 2px solid deeppink;
}
