*{
    text-decoration: none;
     padding: 0;
    margin: 0;
    background-color:lightgrey;
    color: rgb(12, 86, 86);
    text-align: center;
}
img{
    display: block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(149, 129, 129);
    border-radius: 50%;
    object-fit: cover;

}

h2{
  border-bottom: 2px dashed #0d3b66;
  font-size: 30px;
  margin: 20px;
}

h1{
    text-align: center;
    font-size: 35px;
    text-decoration: underline wavy gray;
    margin: 20px;
}

a{
    text-decoration: none;
    color: black;
    
}
section{
    margin: 20px 0;
}
li{
    margin: 10px;
}
footer li{
    font-size: 20px;
    margin: 5px;
    text-align: center;
}
footer li a{
     color: black;
}


