body{
    padding: 0;
    margin: 0;
    background-color: lightgray;
    
}
nav{
    padding: 20px;
    border: 20px solid gray;
    background-color: lightgray;
    text-align: center;
}
nav a{
    color: rgb(194, 7, 194);
    text-decoration: none;
   

}
nav li{
    color: rgb(194,7,194);
     display: inline;
     padding: 10px ;
}

h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    color: #0d3b66;
}
p{
    font-size: 20px;
    text-align: center;
    max-width: fit-content;
    margin: auto;
    color: rgb(194,7,194);
}

ul li {
    color: rgb(194,7,194);
}

#a1{
    color: #0d3b66;
}

main{
    border-bottom: 5px solid;
}

footer h2{
    color: #0d3b66;
    font-size: 25px;
}

footer{
    text-align: center;
}

footer ul{
     display: inline;
     line-height: 2;
}

footer a{
    color: rgb(194,7,194);
    text-decoration: none;
}